/*Applies to everything on the page*/
html{
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity: 0.9;
}
/*Header section*/
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}
header img{
  height: 50px;
  margin-left: 10px;
}
header nav{
  display:inline-block;
}
header nav span{
  padding: 15px;
  text-decoration: underline;
}
/*Main image*/
